@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-size: 10px;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(16,25,40,255);
}

.typed_letter {
    display: flex;
}

.typed_letter > * {
    justify-content: center;
    margin-left: 10px;
}

.correct {
    display: inline-block;
    color: green;
    font-size: 1.6rem;
    font-weight: 900;
    margin-left: 1rem;
}
  
.incorrect {
    display: inline-block;
    color: red;
    font-size: 1.6rem;
    font-weight: 900;
    margin-left: 1rem;
}

.heart {
    width: 30px;
    height: 30px;
    background-image: url(/src/img/heart-icon.png);
    background-size: contain;
}

input {
    width: 100px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #312F62;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 900;
}

button {
    background-color: rgb(21,33,49);
    border: 1px solid rgb(34, 51, 80);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.6em;
    color: white;
}


.masked-text {
    font-size: 3.6rem;
    color: white;
    font-weight: 900;
    letter-spacing: 1.4rem;
    text-align: center;
    margin-bottom: 3.5rem;
}

.hint-text {
    font-size: 2rem;
    font-weight: 100;
    color: white;
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
}

.enter-letter-section > p {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 1rem;
}

.typed-letters-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.5rem;
}

.typed-letters {
    font-size: 1.6rem;
    color: white;
}

.typed_letter > p{
    font-size: 1.6rem;
    font-weight: 900;
}

.button-section {
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
}
.heart-section {
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
}

.heart-section > div {
    margin-left: 1rem;
}

.heart-section:last-child{
    margin-left: 0;
}

.title-text {
    font-size: 3.6rem;
    color: white;
    font-weight: 900;
    text-align: center;
    margin-bottom: 2.5rem;
}





