@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poetsen One", sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.typed_letter {
    display: flex;
}

.typed_letter > * {
    justify-content: center;
    margin-left: 10px;
}

.correct {
    color: green;
}
  
.incorrect {
    color: red;
}

.heart {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 100px;
}
